/*The Stylesheet for Movie Theater Website*/

body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
    background-color: gray;
}

html {
    width: 100%;
    height: 100%;
}

a {
    color: white;
    width: auto;
    height: auto;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
m{
    color: black;
    width: auto;
    height: auto;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all.2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: cadetblue;
}

/*Banner is for the top part of the page where movie theater and login is located*/
.banner {
    /*display: inline-block;*/
    width: 100%;
    height: auto;
    /*padding: 100px 0;*/
    text-align: center;
    color: #fff;
    background-color: #ff2b00;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.banner .banner-body {
    display: inline;
    vertical-align: middle;
}


.banner .banner-body .banner-heading {
    font-size: 40px;
}

.banner .banner-body .banner-text {
    font-size: 18px;
}


@media(min-width:768px) {
    .banner {
        height: auto;
        padding: 0;
    }

    .banner .banner-body .banner-heading {
        font-size: 100px;
    }

    .banner .banner-body .banner-text {
        font-size: 26px;
    }

}

.movie-table {
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border: 2px solid black;
    background-color: white;
}


/*The following may be temp for login page */
.form-wrapper {
width:300px;
height:370px;
  position: absolute;
  top: 50%;
  left: 48%;
  margin: -184px 0px 0px -155px;
  background: rgba(0,0,0,0.27);
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.6),inset 0px 1px 0px rgba(255,255,255,0.04);
}

.form-item {
width:100%;
}


h3{
  font-size: 25px;
  font-weight: 640;
  margin-bottom: 10px;
  color: #e7e7e7;
  padding:6px;
  font-family:'sans-serif','helvetica';
}



.form-item input{
  border: none;
  background:transparent;
  color: #fff;
  margin-top:11px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  height: 49px;
  padding: 0 16px;
  width: 100%;
  padding-left: 55px;

}
input[type='password']{
    /*background: transparent url("img/pass.jpg") no-repeat;*/
    background-position: 10px 50%;
}
input[type='text']{
    /*background: transparent url("img/user.jpg") no-repeat;*/
    background-position: 10px 50%;

}

.form-item input:focus {
  outline: none;
  border:1.4px solid #cfecf0;
}

.button-panel {
  margin-bottom: 20px;
  padding-top: 10px;
  width: 100%;
}

.button-panel .button {
  background: #00b6df;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'helvetica','Open Sans', sans-serif;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.6s linear;
  width: 100%;
  margin-top:10px;
}

.button:hover {
  background: #6eb7cb;
}

.form-item input, .button-panel .button {
  border-radius: 2px
}

.reminder {
  text-align: center;
}

.reminder a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.reminder a:hover {
  color: #cab6bf;
}